<form action="/quotes" method="POST">
  <input type="text" placeholder="This is a quote..." name="quote[text]">
  <input type="text" placeholder="Maxwell P. Strong" name="quote[author]">
  <button type="submit">Save Quote</button>
</form>