<div class="container">
  <% quotes.forEach(function(quote) {  %>
    <h2><%= quote.text%><h2>
    <h4> -- <%= quote.author %></h4>
  <% }) %>
</div>
<div>
<a href="quotes/new">Add A New Quote</a>
</div>