<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<header>
  <h1>Quotes, INC.</h1>
  <h2>Who quotes the quoters?</h2>
</header>
<body>
  <div class="container">
    <%- body %>
  </div>
</body>
<footer>
  <%- include ./partials/footer %>
</footer>
</html>