<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>

<header>
  <h1 class="text-info"> QUOTES, INC</h1>
  <h5> Who quotes the quoters? </h5>
  <hr>
</header>
<body>
  <%= yield %>
</body>
<footer>
  Copyright Charlotte K, The Incredible WDI Student.
</footer>
</html>