<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <div class="container">
    <% include ./partials/header %>
  </div>
  <%- body %>
  <div class="container">
    <% include ./partials/footer %>
  </div>
</body>
</html>