<ul>
  <% quotes.forEach(function(quote){ %>
    <li>
      <blockquote><p><%= quote.text %></p></blockquote>
      <blockquote><footer><%= quote.author %></footer></blockquote>
    </li>
  <% }) %>
</ul>